/* COMMON */
html {
  --color-text: #333;
  --color-text-gr: #555;
  --color-white: #fff;
  --color-text-hover: #169d3c;
  --color-background: #b0d2b8;
  --color-background-w: #f4f4f4;
  --color-footer: #999;
  
  scroll-behavior: smooth;
  cursor: url("../images/cursor.png") 15 16, auto;
}

body {
  font-family: 'Nanum Gothic', sans-serif;
  line-height: 1.4;
  font-size: 14px;
}
section {
  margin-top: 40px;
}

a {
  text-decoration: none;
}

.inner {
  max-width: 1180px;
  margin: 0 auto;
  position: relative;
}

.btn {
  width: 80px;
  height: 36px;
  text-align: center;
  color: var(--color-text-hover);
  background-color: var(--color-background-w);
  border: 1px solid var(--color-text-hover);
  border-radius: 6px;
  padding: 10px;
  box-sizing: border-box;
  display: inline-block;
}
.btn:hover {
  color: var(--color-white);
  background-color: var(--color-background);
}

/* BACK TO POSITIONS */
.back-to-position {
  opacity: 0;
  transition: 1s;
}
.back-to-position.to-left {
  /* 오른쪽에서 왼쪽 */
  transform: translateX(150px);
}
.back-to-position.to-right {
  /* 왼쪽에서 오른쪽 */
  transform: translateX(-150px);
}
.show .back-to-position {
  opacity: 1;
  transform: translateX(0);

}
.show .back-to-position.delay-1 {
  transition-delay: .1s;
}
.show .back-to-position.delay-2 {
  transition-delay: .3s;
}
.show .back-to-position.delay-3 {
  transition-delay: .5s;
}

/* 모달창 */
#modal {
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  background-color: rgba(176, 210, 184, .5);
  z-index: 13;

  display: none;
}
.modal-box {
  width: 220px;
  height: 100px;
  background: antiquewhite;
  border: 1px solid #333;
  border-radius: 7px;
  position: fixed;
  top: 50%;
  left: calc(50% - 110px);
}
.modal-box .number {
  text-align: center;
  line-height: 100px;
}
.modal-box .material-icons {
  color: var(--color-text);
  position: absolute;
  top: 10px;
  right: 10px;
  cursor: pointer;
}

/* HEADER */
header {
  border-bottom: 1px solid #ddd;
  background-color: var(--color-white);

  width: 100%;
  position: fixed;
  top: 0;
  z-index: 11;
}
header > .inner {
  height: 156px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
header .logo img {
  width: 96px;
  height: 96px;
}
header .nav .nav__menu--main {
  display: flex;
  align-items: center;
}
header .nav .nav__menu--main .item:last-child {
  margin-left: 50px;
}
header .nav .nav__menu--main .item__name {
  color: var(--color-text);
  padding: 20px 50px 70px;
}
header .nav .nav__menu--main .item__name:hover {
  color: var(--color-text-hover);
  text-decoration: underline;
}
header .nav .nav__menu--main .material-icons {
  color: var(--color-text-gr);
}
header .nav .nav__menu--main .item .item__contents {
  background-color: var(--color-background);
  width: 100%;
  height: 50px;
  top: 156px;
  position: fixed;
  left: 0;

  display: none;
}
header .nav .nav__menu--main .item:hover .item__contents {
  display: block;
}
header .nav .nav__menu--main .item .item__contents ul {
  height: 50px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
header .nav .nav__menu--main .item .item__contents li {
  margin-right: 60px;
  /* cursor: pointer; */
}
header .nav .nav__menu--main .item .item__contents li a {
  color: var(--color-text);
}
header .nav .nav__menu--main .item .item__contents li a:hover {
  color: var(--color-text-hover);
}
header .nav .nav__menu--main .item img {
  width: 20px;
}

/* 모바일용 메뉴 */
.m-header {
  width: 100%;
  height: 50px;
  display: none;
  border-bottom: 1px solid var(--color-background);

}
.m-header .m-logo {
  width: 36px;
  position: fixed;
  right: 0;
  left: 0;
  margin: 8px auto;
}
.m-header .m-logo img {
  width: 36px;
  height: 36px;
}
.m-header .btn-hamburger {
  color: var(--color-text-hover);
  position: absolute;
  top: 13px;
  left: 10px;
}
.m-header .m-nav {
  width: 30%;
  height: 100vh;
  background-color: var(--color-background-w);
  padding: 60px 30px 40px;
  position: fixed;
  top: 0;
  left: -50%;
  transition: .5s;
}
.m-header .m-nav.active {
  left: 0;
}
.m-header .m-nav > a {
  position: absolute;
  top: 10px;
  right: 10px;
  color: var(--color-text-hover);
}
.m-header .m-nav .nav__menu--main .item a {
  color: var(--color-text);
}
.m-header .m-nav .nav__menu--main .item a:hover {
  color: var(--color-text-hover);
}
.m-header .m-nav .nav__menu--main .item + .item {
  margin-top: 40px;
}
.m-header .m-nav .nav__menu--main .item ul {
  margin-top: 30px;
}
.m-header .m-nav .nav__menu--main .item ul li {
  font-size: 12px;
  color: var(--color-text-gr);
  /* cursor: pointer; */
}
.m-header .m-nav .nav__menu--main .item ul li:hover {
  color: var(--color-background);
}
.m-header .m-nav .nav__menu--main .item ul li + li {
  margin-top: 18px;
}
.m-header .m-nav div {
  display: flex;
  align-items: center;
  margin-top: 60px;
}
.m-header .m-nav div .material-icons {
  color: var(--color-text-gr);
}
.m-header .m-nav img {
  width: 20px;
  margin-left: 10px;
}

/* FOOTER */
footer {
  margin-top: 40px;
  background-color: var(--color-footer);
}
footer .inner {
  padding: 40px 0 60px;
}
footer ul {
  display: flex;
}
footer ul > li:first-child {
  font-weight: 700;
}
footer ul > li + li {
  margin-left: 40px;
}
footer ul > li a {
  color: var(--color-text);
}
footer ul > li a:hover {
  color: var(--color-text-hover);
}
footer .info {
  color: var(--color-white);
  margin-top: 40px;
}
footer .info p + p {
  margin-top: 20px;
}

/* SCROLL TO TOP */
#to-top {
  width: 40px;
  height: 40px;
  background-color: var(--color-background-w);
  position: fixed;
  bottom: 5%;
  right: 5%;
  z-index: 9;
  border-radius: 20%;
  /* cursor: pointer; */
  opacity: 0.8;
  color: var(--color-text-hover);
  display: flex;
  justify-content: center;
  align-items: center;
}
#to-top:hover {
  background-color: var(--color-background);
}
#to-top .material-icons {
  font-size: 30px;
}

/* 반응형 */
/* 태블릿 */
@media screen and (max-width: 1023px) {
  footer .inner {
    width: 480px;
    margin: auto;
    font-size: 12px;
  }
  footer .inner ul {
    justify-content: center;
  }
  footer .info {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
  footer .info p + p {
    margin-top: 0;
    margin-left: 20px;
  }
  footer .info p:last-child {
    margin-top: 10px;
  }
}
/* 모바일 */
@media screen and (max-width: 767px) {
  header .inner {
    display: none;
  }
  .m-header {
    display: block;
  }
  footer .inner .info {
    flex-direction: column;
  }
  footer .inner .info p:first-child {
    margin-left: 20px;
  }
}