/* VISUAL */
.visual {
  width: 100%;
  height: 420px;
  margin-top: 156px;
  overflow: hidden;
  position: relative;
}
.visual img {
  width: 100%;
  /* height: 420px; */
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
.visual span {
  font-size: 40px;
  font-weight: 700;
  color: var(--color-white);
  color: rgb(213, 157, 184);
  position: absolute;
  top: 60px;
  right: 200px;
}
.visual span:last-child {
  top: 110px;
  right: 80px;
}
.visual .fade-in {
  opacity: 0;
}

/* SLIDE */
/* .slide {
  max-height: 380px;
} */
.slide .inner {
  height: 100%;
  /* display: flex;
  justify-content: center;
  position: relative; */
  /* overflow: hidden; */
  
}
.slide .swiper {
  width: 100%;
  /* height: 380px; */
  /* flex-shrink: 0; */

}
.slide .swiper-slide {
  opacity: 0.5;
  position: relative;
}
.slide .swiper-slide img {
  width: 100%;
}
.slide .swiper-slide p {
  color: var(--color-white);
  font-weight: 600;
  position: absolute;
  top: 20px;
  left: 20px;
}
.slide .swiper-slide-active {
  opacity: 1;
  cursor: pointer;
}
.slide .swiper-slide-active:hover {
  opacity: 0.7;
}
.slide .swiper-slide-active:hover p {
  color: var(--color-background);
}
.slide .swiper-slide-active span {
  font-size: 34px;
  position: absolute;
  top: calc(50% - 17px);
  left: calc(50% - 17px);
  display: none;
}
.slide .swiper-slide-active:hover span {
  display: block;
}
.slide .material-icons {
  font-size: 40px;
  color: var(--color-white);
  display: none;
}
.slide .swiper-button-prev:hover .material-icons,
.slide .swiper-button-next:hover .material-icons {
  color: var(--color-text-hover);
}
.slide .swiper-button-prev::after,
.slide .swiper-button-next::after {
  display: none;
}
.slide .swiper-button-prev .material-icons,
.slide .swiper-button-next .material-icons {
  display: block;
}

/* SEASON PRODUCT */
.season-product {
  background-color: var(--color-background-w);
  overflow: hidden;
}
.season-product > .inner {
  display: flex;
  justify-content: space-between;
}
.season-product img {
  width: 250px;
}
.season-product .left-product,
.season-product .right-product {
  display: flex;
  align-items: center;
}
.season-product .right-product {
  flex-flow: row-reverse;
}
.season-product .text-group {
  color: var(--color-text);
  font-size: 16px;
  
}
.season-product .text-group p:first-child {
  margin-bottom: 10px;
}
.season-product .left-product .text-group {
  margin-left: 40px;
}
.season-product .right-product .text-group {
  margin-right: 40px;
  text-align: right;
}

/* YOUTUBE */
.youtube {
  height: 600px;
  position: relative;
  overflow: hidden;
}
.youtube .inner {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.youtube .youtube__area {
  width: 100%;
  height: 100%;
}

#player {
  width: 100%;
  height: 100%;
}
.youtube .youtube__cover {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, .3);
}

/* RECOMMENDED PRODUCT */
.recommend {
  height: 100%;
}
.recommend .inner {
  text-align: center;
}
.recommend .inner .recommend-title {
  font-size: 16px;
  font-weight: 700;
  color: var(--color-text-hover);
  display: inline-block;
  padding: 40px 0;
  /* cursor: pointer; */
}
.recommend .inner .recommend-title:hover {
  color: var(--color-background);
  transform: translateY(1px);
}
#recommendedProduct {
  width: 100%;
  height: 100%;
}
#recommendedProduct .choice-box {
  color: var(--color-footer);
  background-color: var(--color-background-w);
  border: 1px solid var(--color-text-hover);
  border-radius: 6px;
  margin-top: 20px;
  padding: 10px 0;

  opacity: 0;
  display: none;
}
#recommendedProduct input[type="radio"] {
  display: none;
}
#recommendedProduct label {
  display: inline-block;
  padding: 10px;
  cursor: pointer;
}
#recommendedProduct label:hover {
  color: var(--color-background);
}
#recommendedProduct input:checked + label {
  color: var(--color-text-hover);
  font-weight: 700;
}
#recommendedProduct .check {
  margin: 15px 0;
  display: none;
}
#recommendedProduct .recommend-product img {
  width: 50%;
}

/* recommend 내용 연결하기 */
#choice-graduation:checked ~ #graduation,
#graduation-1:checked ~ #graduation1,
#graduation-2:checked ~ #graduation2,
#graduation-3:checked ~ #graduation3,
#choice-birth:checked ~ #birth,
#birth-1:checked ~ #birth1,
#birth-2:checked ~ #birth2,
#birth-3:checked ~ #birth3,
#choice-anniversary:checked ~ #anniversary,
#anniversary-1:checked ~ #anniversary1,
#anniversary-2:checked ~ #anniversary2,
#anniversary-3:checked ~ #anniversary3,
#choice-day:checked ~ #day,
#day-1:checked ~ #day1,
#day-2:checked ~ #day2,
#day-3:checked ~ #day3 {
  display: block;
}

/* CLASS */
.class .inner {
  display: flex;
}
.class .inner img {
  width: 100%;
}
.class .class-oneday {
  margin-right: 20px;
}
.class .class-oneday,
.class .class-master {
  flex: 1;
  position: relative;
}
.class .class-oneday:hover img,
.class .class-master:hover img {
  opacity: 0.4;
}
.class .inner h3 {
  font-size: 36px;
  color: var(--color-white);
  position: absolute;
  bottom: 20px;
  right: 20px;
}
.class .class__contents {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;

  display: none;
}
.class .class-oneday:hover .class__contents,
.class .class-master:hover .class__contents {
  display: block;
}
.class .class__contents .contents-title {
  width: 100%;
  font-size: 20px;
  text-align: center;
  position: absolute;
  top: 25%;
}
.class .class__contents .contents-contents {
  width: calc(100% - 70px);
  margin-left: 40px;
  position: absolute;
  top: 50%;
}
.class .class__contents .contents-contents > li + li {
  margin-top: 20px;
}
.class .class__contents .btn {
  width: 80px;
  height: 36px;
  text-align: center;
  color: var(--color-text-hover);
  background-color: var(--color-background-w);
  border: 1px solid var(--color-text-hover);
  border-radius: 6px;
  padding: 10px;
  box-sizing: border-box;
  display: block;

  position: absolute;
  bottom: 20px;
  left: calc(50% - 39px);
}
.class .class__contents .btn:hover {
  color: var(--color-white);
  background-color: var(--color-background);
}
/* 태블릿, 모바일용 */
.class .class__contents .t-btn {
  width: 28px;
  height: 28px;
  text-align: center;
  line-height: 28px;
  color: var(--color-text-hover);
  background-color: var(--color-background-w);
  border: 1px solid var(--color-text-hover);
  border-radius: 6px;
  box-sizing: border-box;
  display: none;

  position: absolute;
  bottom: 12px;
  left: calc(50% - 14px);
}
.class .class__contents .t-btn span {
  font-size: 16px;
}
.class .class__contents .t-btn:hover {
  color: var(--color-white);
  background-color: var(--color-background);
}

/* FLOATING FLOWER */
/* .floating-flower {
  position: absolute;
} */
/* .floating-flower img {
  width: 50px;
  height: 50px;
} */

.flowerflake {
  width: 36px;
  height: 23px;
  background-image: url('../images/flowerflake.JPG');
  background-repeat: no-repeat;
  position: absolute;
  top: -20px;
  z-index: 99;
}

@keyframes fall {
  from {}
  10% { transform: translateY(10vh) translateX(-5px) rotate(10deg); }
  20% { transform: translateY(20vh) translateX(5px) rotate(-10deg); }
  30% { transform: translateY(30vh) translateX(-5px) rotate(10deg); }
  40% { transform: translateY(40vh) translateX(5px) rotate(-10deg); }
  50% { transform: translateY(50vh) translateX(-5px) rotate(10deg); }
  60% { transform: translateY(60vh) translateX(5px) rotate(-10deg); }
  70% { transform: translateY(70vh) translateX(-5px) rotate(10deg); }
  80% { transform: translateY(80vh) translateX(5px) rotate(-10deg); }
  90% { transform: translateY(90vh) translateX(-5px) rotate(10deg); }
  to {
    transform: translateY(100vh) translateX(5px) rotate(-10deg);
    opacity: 0;
  }
}

/* 반응형 */
/* 태블릿 */
@media screen and (max-width: 1023px) {
  .season-product .inner {
    flex-direction: column;    
  }
  .class .inner h3 {
    font-size: 25px;
  }
  .class .class__contents .contents-title {
    font-size: 16px;
  }
  .class .class__contents .contents-contents {
    font-size: 12px;
  }
  .class .class__contents .btn {
    display: none;
  }
  .class .class__contents .t-btn {
    display: block;
  }
}
/* 모바일 */
@media screen and (max-width: 767px) {
  .visual {
    margin-top: 50px;
    height: 250px;
  }
  .visual span {
    font-size: 30px;
    top: 30px;
    right: 120px;
  }
  .visual span:last-child {
    top: 70px;
    right: 40px;
  }
  .season-product .left-product img,
  .season-product .right-product img {
    width: 30%;
  }
  .season-product .text-group {
    font-size: 12px;
  }
  .youtube {
    height: 300px;
  }
  .class .class__contents .contents-title {
    text-align: center;
    top: 40%;
  }
  .class .class__contents .contents-contents {
    display: none;
  }
  .class .class__contents .t-btn {
    bottom: 30px;
  }
}