/* ORDER */
/* 상세설명 */
.sub__order {
  margin-top: 156px;
}
.sub__order .inner h3 {
  font-size: 16px;
  font-weight: 800;
  color: var(--color-text-gr);
  text-align: center;
  padding: 50px 0;
}
.sub__order .inner .order-now {
  text-align: center;
}
.sub__order .inner .order-now a {
  width: 100px;
  font-weight: 700;
  color: var(--color-text-hover);
}
.sub__order .inner img {
  width: 100%;
}
.sub__order .inner .order__contents {
  padding-top: 30px;
}
.sub__order .inner .order__contents li {
  position: relative;
}
.sub__order .inner .order__contents h4 {
  font-weight: 700;
  color: var(--color-text);
  margin: 40px 0 30px;
}
.sub__order .inner .order__contents p {
  margin-top: 20px;
  line-height: 1.4;
}
.order__contents .swiper {
  width: 100%;
}
.order__contents .swiper-slide {
  position: relative;
}
.order__contents .swiper-slide img {
  width: 100%;
}
.order__contents .swiper-button-prev::after,
.order__contents .swiper-button-next::after {
  display: none;
}
.order__contents .swiper-button-prev .material-icons,
.order__contents .swiper-button-next .material-icons {
  font-size: 40px;
  color: var(--color-white);
  display: block;
}
.order__contents .swiper-button-prev:hover .material-icons,
.order__contents .swiper-button-next:hover .material-icons {
  color: var(--color-text-hover);
}
.sub__order .inner .info {
  margin-top: 50px;
  font-weight: 700;
  color: var(--color-text-hover);
}

/* 주문영역 */
#order {
  margin-top: 50px;
  font-weight: 700;
  color: var(--color-text-gr);
  text-align: center;
  padding: 30px 0;
  border-top: 2px solid var(--color-background);

  height: 400px;
  /* background-color: orange; */
}
#order h4 {
  margin-bottom: 40px;
}
#order .input-group {
  margin-top: 20px;
}
#order .input-group .label-margin {
  margin-bottom: 10px;
}
#order .input-group .select-box {
  width: 500px;
  height: 40px;
  padding: 0 10px;
  border: 1px solid var(--color-text-gr);
  margin: 0 auto;
  display: block;
}
#order .input-group .select-box + .select-box {
  margin-top: 10px;
}
#order .input-group .message {
  box-sizing: border-box;
}
#order .total-price {
  width: 500px;
  margin: 0 auto;
  text-align: right;
  padding-top: 50px;
}
#order .total-price .total-price__title {
  font-size: 16px;
}
#order .total-price .total-price__price {
  font-size: 20px;
  color: var(--color-text-hover);
  margin-top: 10px;
}
#order .total-price .btn--order {
  margin-top: 10px;
}

/* 반응형 */
/* 태블릿 */
@media screen and (max-width: 1023px) {

}
/* 모바일 */
@media screen and (max-width: 767px) {
  section {
    font-size: 12px;
  }
  .sub__order {
    margin-top: 50px;
  }
  .sub__order .inner h3 {
    font-size: 14px;
  }
  #order h4 {
    font-size: 14px;
  }
  #order .input-group .select-box {
    width: 300px;
    height: 35px;
    font-size: 12px;
  }
  #order .total-price {
    width: 300px;
  }
}